doctype html
html
  head
  body
    link(rel="stylesheet", href="/stylesheets/404.css")
    div(id='gameOver' class='svg-holder')
      object(data='/../media/404/gameover.svg')
    div(id='eyes' class='svg-holder')
      object(data='/../media/404/eyes.svg')
    div(id='text' class='svg-holder')
      object(data='/../media/404/text.svg')
    div(class='svg-holder' id='containerMaybe')
      div(id='psudoBtn' class='svg-holder')
      div(id='yesContainer' class='svg-holder')
        div(id='arrow' class='svg-holder')
          object(data='/../media/404/arrow.svg')
        div(id='yesText' class='svg-holder')
          object(data='/../media/404/yes.svg')
    script(src='/javascripts/404.js')
  