extends layout.pug
include utils.pug


block content
    link(rel="stylesheet" href="/stylesheets/main.css")
    div
        h1= collection.name
        h2= collection.description
    button(type='button' id='editCollection') Edit
    div(class='img-box')
        if collection.Games
            each game in collection.Games
              +gameCard(game)
    div(id='addGamesSelect')
      form(action='' method='get')
        select(name='game_id' id='selectValue')
          each game in allGames
            option(value=game.id)= game.name
        input(type='button' id='addGameToColl' value='add game')

    script(src='/javascripts/index.js')
