extends layout.pug
include utils.pug


block content
    div
        h1= collection.name
        h2= collection.description
    div
        if games
            each game in games
              +gameCard(game)
