extends layout
include utils.pug

block content
    link(rel="stylesheet" href="/stylesheets/main.css")
    if locals.authenticated
    else
      div(id="banner")
       img(src='../media/banner.png')
    div(id="content-container")
      h1(id='homeTitle') What's New?
    if games
      div(class='img-box')
          each game in games
            +gameCard(game)
