doctype html
html
  head
      block head
        title="GameVault"
        link(rel='stylesheet' href='/stylesheets/main.css')
  body
    nav
      div(id='logo')
        a(href='/')
          img(src='../media/logo.png' id='logo-img')
      div(id='userInteractions')
        if locals.authenticated
          span Welcome 
            a(href=`/users/${user.id}`) #{user.username}!
            button(type='submit' id='logoutButton') Logout
        else
          span
            a(href='/users/demo-user') Demo User
            a(href='/users/login') Login
            a(href='/users/sign-up') Sign Up
    block content
    script(src='/javascripts/logout.js')
    footer created by
        span
          a(href="https://github.com/Dave89rr/GameVault") Dave
        span
          a(href="https://github.com/jiaqicheng1998") Jiaqi
        span
          a(href="https://github.com/anailopez") Amy
        span
          a(href="https://github.com/angMaidt") Angie
