doctype html
html
  head
      block head
        title="GameVault"
        link(rel='stylesheet' href='/stylesheets/main.css')
        link(href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet")
  body
    nav
      div(class='nav-container')
        div(id='logo')
          a(href='/')
            img(src='../media/gameVaultLogo.svg' id='logo-img')
        div(id='userInteractions')
          if locals.authenticated
            div(id='loggedInInteractions') Welcome,
              a(href=`/users/${user.id}` id='usernameAnchor') #{user.username}!
              div(id='vaultButton')
                object(data='/../media/library.svg' id='vaultIcon')
              div(id='logoutButton')
                object(data='/../media/logout.svg' id='logoutIcon')
          else
            div(id='loggedOutInteractions')
              div(class='navButton' id='demoUserButton')
                a(href='/users/demo-user') Demo User
              div(class='navButton' id='loginButton')
                a(href='/users/login') Login
              div(class='navButton' id='signUpButton')
                a(href='/users/sign-up') Sign Up
    block content
    script(src='/javascripts/logout.js')
    footer created by
        span
          a(href="https://github.com/Dave89rr/GameVault") Dave
        span
          a(href="https://github.com/jiaqicheng1998") Jiaqi
        span
          a(href="https://github.com/anailopez") Amy
        span
          a(href="https://github.com/angMaidt") Angie
