doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    nav
      div(id='logo')
        img(src='../media/logo.png' id='logo-img')
      div(id='login-signup')
        if locals.authenticated
          span Welcome #{user.username}!
          form(action='/users/logout' method='post')
            button(type='submit') Logout
        else
          span
            a(href='/users/login') Login
            a(href='/users/sign-up') Sign Up
    block content
