mixin errors(errors)
  if errors
    p The following error(s) were found in the form
    ul
      each error in errors
        li= error

mixin gameCard(game)
  div(class='card')
    .game-title
      p= game.name
    div(class='home-img' style=`background-image: url(${game.img_url});`)
