body {
  background-color: black;
}
.svg-holder {
  margin: auto;
  position: relative;
}
#gameOver {
  width: 47%;
  top: 17px;
}

#eyes {
  width: 59%;
  top: 35px;
}

#text {
  width: 54%;
  top: 56px;
}
#containerMaybe {
  height: 50px;
  top: 30px;
  width: 6%;
}

#psudoBtn {
  z-index: 1;
  width: 100%;
  top: 45px;
  height: 50px;
  position: relative;
}

#containerMaybe:hover > #yesContainer {
  filter: drop-shadow(0px 0px 6px #3ac7e3);
  transition: 0.3s;
}
#yesContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: center;
  transition: 0.3s;
}

#yesText {
  width: 75%;
  margin-left: 7px;
}

#arrow {
  width: 12%;
  margin-right: 7px;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
