/* ------- The Beast Light ------- */
/* :root {
  --bg-color: #d3d3d3;
  --primary-color: #0974a9;
  --secondary-color: #02223d;
  --highlights-color: #14647b;
  --font-color: black;
} */
/* ------- The Beast ------- */
/* :root {
  --bg-color: #001524;
  --primary-color: #0974a9;
  --secondary-color: #02223d;
  --highlights-color: #14647b;
  --font-color: white;
} */
/* ------- Dark Skyline ------- */
:root {
  --bg-color: #180c39;
  --primary-color: #7200dd;
  --secondary-color: #2a026a;
  --highlights-color: #481a9e;
  --font-color: white;
}
/* ------- Option Stardew 👎 ------- */
/* :root {
  --bg-color: #151152;
  --primary-color: #dda059;
  --secondary-color: #6b3710;
  --highlights-color: #59c9f1;
} */

/* ------- Option 1 👍 ------- */
/* :root {
  --bg-color: #f6f5f5;
  --primary-color: #145374;
  --secondary-color: #00334e;
  --highlights-color: #ee6f57;
} */
/* ------- Option 3 👎 ------- */
/* :root {
  --bg-color: #fdd2bf;
  --primary-color: #b97a95;
  --secondary-color: #8236cb;
  --highlights-color: #290fba;
} */
/* ------- Option 4 🆗 ------- */
/* :root {
  --bg-color: #f5f5f5;
  --primary-color: #f05454;
  --secondary-color: #30475e;
  --highlights-color: #121212;
} */
/* ------- Option 5 🆗 ------- */
/* :root {
  --bg-color: #f1ddbf;
  --primary-color: #525e75;
  --secondary-color: #78938a;
  --highlights-color: #92ba92;
} */
/* ------- Option 6 👍 ------- */
/* :root {
  --bg-color: #8d8daa;
  --primary-color: #dfdfde;
  --secondary-color: #f7f5f2;
  --highlights-color: #f56d91;
} */

/* ------- Option X 👎 ------- */
/* :root {
  --bg-color: #325288;
  --primary-color: #f4eee8;
  --secondary-color: #f5cebe;
  --highlights-color: #114e60;
} */
