.home-img {
    height: 300px;
    width: 200px;
    background-position: center center;
    background-repeat: no-repeat;
}

.img-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
