@import url('./colors.css');

html {
  position: relative;
  min-height: 100%;
}

.home-img {
  height: 300px;
  width: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  border-radius: 10px;
}

.img-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 79%;
}

#collection-top {
  margin: 0 auto;
  width: 79%;
  padding: 40px 10px 10px 70px;
}

.card {
  margin: 50px;
  max-width: 200px;
}

.card p {
  text-align: center;
}

.game-title {
  height: 40px;
}

body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
  font-family: 'ABeeZee', sans-serif;
  color: var(--font-color);
}

body {
  margin-top: 74px;
  margin-bottom: 50px;
  background-color: var(--bg-color);
}

h1 {
  font-size: 2rem;
}

#logo-img {
  height: 50px;
  width: auto;
  align-items: center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 74px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

#userInteractions {
  color: var(--font-color);
}

footer {
  z-index: -1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--font-color);
}

footer span a {
  color: var(--font-color);
}

#banner {
  top: 54px;
  min-width: 100%;
  display: flex;
  justify-content: center;
}
#banner img {
  width: 100%;
  height: 100%;
}

#content-container {
  margin: auto;
  width: 79%;
}

#homeTitle {
  padding-top: 30px;
  text-align: center;
}

#logoutIcon,
#editName,
#vaultIcon {
  pointer-events: none;
}
#editName {
  background-color: gray;
  color: lightgray;
}

#logoutIcon,
#vaultIcon {
  height: 25px;
  width: 25px;
  padding-left: 5px;
}
#vaultButton:hover,
#logoutButton:hover {
  cursor: pointer;
}

#loggedInInteractions,
#loggedOutInteractions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#usernameAnchor {
  margin-left: 5px;
}

.navButton {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  width: 79%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
input {
  border-radius: 3px;
}
