html {
  position: relative;
  min-height: 100%;
}

.home-img {
  height: 300px;
  width: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  border-radius: 10px;
}

.img-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center;
    margin-left: 5%;
    margin-right: 5%; */
  margin: auto;
  width: 79%;
  /* padding: 0px 10px; */
}

#collection-top {
  margin: 0 auto;
  width: 79%;
  padding: 40px 10px 10px 70px;
}

.card {
  margin: 50px;
  max-width: 200px;
}

.card p {
  text-align: center;
}

.game-title {
  height: 40px;
}

body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header {
  font-size: 1rem;
  /* color: black; */
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
  font-family: 'ABeeZee', sans-serif;
  color: #27272a;
}

body {
  margin-top: 54px;
  margin-bottom: 50px;
  /* max-width: 1440px; */
  /* margin-left: auto;
  margin-right: auto; */
  /* text-align: center; */
  /* padding-left: 200px;
  padding-right: 200px; */
}

h1 {
  font-size: 2rem;
}

#logo-img {
  margin-left: 100px;
  height: 50px;
  width: auto;
  align-items: center;
}

nav {
  /* border: 1px solid black; */
  position: fixed;
  top: 0;
  width: 100%;
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #4a39d3;
  /* color: white; */
}

#userInteractions span a {
  color: white;
  text-decoration: none;
  margin: 10px;
}
#userInteractions {
  margin-right: 100px;
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #f09aff;
  color: white;
}

footer span a {
  color: white;
}

#banner {
  top: 54px;
  min-width: 100%;
  display: flex;
  /* background-image: url('../media/banner.png'); */
  /* background-size: contain; */
  justify-content: center;
}
#banner img {
  width: 100%;
  height: 100%;
}

#content-container {
  margin: auto;
  width: 79%;
}

#homeTitle {
  padding-top: 30px;
  text-align: center;
}
