body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header {
  font-size: 1rem;
  color: black;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

#logo-img {
  height: 50px;
  width: auto;
}

nav {
  /* border: 1px solid black; */
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #4a39d3;
  /* color: white; */
}

#login-signup span {
  color: white;
}

footer {
  position: sticky;
  top: 95%;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #F09AFF;
  color: white
}

footer span a {
  color: white
}
