#games {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 1500px;
}

#editDetails {
  display: none;
}

#editIcon {
  display: none;
}

#editBio {
  min-height: 40px;
  max-height: 367px;
  max-width: 910px;
  min-width: 910px;
}

.editForm {
  z-index: 1;
  max-width: 50%;
  max-height: 600px;
  margin: auto;
  position: fixed;
  top: 25%;
  left: 25%;
  right: 25%;
  border-radius: 9px;
  background-color: gray;
}

.hidden {
  display: none;
}

#liveIcon {
  max-width: 100px;
  max-height: 100px;
}

#user-info {
  margin-left: 10%;
}

#gameImg {
  max-width: 300px;
}

#filledStars {
  padding-top: 5px;
  position: relative;
  align-self: center;
  overflow: hidden;
}

#emptyStars {
  padding-top: 5px;
  position: absolute;
  align-self: center;
  width: 172px;
}

#starContainer {
  width: 150px;
  height: 50px;
}

.game-img-container {
  display: block;
  width: 360px;
  height: 540px;
  min-width: 360px; 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
